.newsPage {
    display: flex;
    flex-direction: column;
}

.newsPage .topBanner {
    position: relative;
}

.newsPage .topBanner img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    
}
.news-container {
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.newsBox {
    display: flex;
}
.newsImg img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.newsContent{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.newsContent a{
    color:black;
    text-decoration: none;
}

.blueLink{
    color: blue !important;
    text-decoration: underline !important;
}
@media (max-width:1200px) {
    .news-container{
        padding: 50px 150px;
    }
}
@media (max-width:1000px) {
    .newsImg img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .newsContent{
        padding: 10px 20px;
    }
    .news-container{
        padding: 50px ;
    }
}
@media (max-width:700px) {
    .news-container{
        padding: 20px;
        gap: 30px;
    }
    .newsBox{
        flex-direction: column;
        align-items: center;
    }
    .newsImg img{
        width: 85vw;
        height: 200px;
        object-fit: cover;
    }
    .newsContent{
        padding: 10px ;
    }
    .newsContent h1{
        font-size: 1.5rem;
    }
    .newsContent small{
        font-size: 0.7rem;
    }
    .newsContent p{
        font-size: 0.9rem;
    }
}