.AboutBackground {
    background-image: url('../src/assets/AboutUs.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: AboutBackground-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

@keyframes AboutBackground-animation {
    25% {
        opacity: 1;
    }

    85% {
        opacity: 0;
        scale: 2;
    }
}

.txt1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

/* Section 2:Experinced lawyer */
.header-body {
    /* margin: 40px; */
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.content-sect {
    height: auto;
    width: 55%;
}

.title-head {
    color: black;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
}

.para {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    line-height: 30px;
    margin: 20px;

}
.icon{
    margin-top: 30px;
}
.mission-vision {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}

.mission-content {
    margin: 10px;
    margin-top: 4px;
    margin-left: 20px;
}

.t-head {
    color: black;
    font-size: 27px;
    text-align: left;
}

.t-body {
    color: black;
    font-size: 20px;
    text-align: left;
}

/* .image-sec1{
    
} */
.image-sec {
    background-color: white;
    width: 500px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.im1{
    width: 100%;
    object-fit: cover;
    height: 50%;
    border-radius: 20px;
    overflow: hidden;
}

.image-sec2{
    display: flex;
    gap: 20px;
}
.im2, .im3{
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
}

.centerImg {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%) translateY(-50%);
}


/* section 3:Our Team */
.scrollable-div {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* or overflow: scroll; */
    box-shadow: 10px 10px 10px rgba(136, 135, 135, 0.5);
    /* padding: 10px; */
    padding: 100px;
    /* background-color: black; */
}

.team-head {
    font-size: 60px;
}

.member {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 50px;
    gap: 30px;
}
.mimage1 {
    width: 250px;
    height: 300px;
    border-radius: 20px;
}

.member-info {
    display: flex;
    flex-direction: column;
}

.mtitle {
    font-size: 40px;
    /* align-items: left; */
    font-weight: 200;
}

.mpara {
    font-size: 18px;
    font-weight: 300;
    margin-top: 25px;
    line-height: 27px;
}