.AboutBackground {
    background-image: url('../src/assets/AboutUs.jpg');
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: AboutBackground-animation linear forwards;
    animation-timeline: scroll();
    animation-range: exit;
}

@keyframes AboutBackground-animation {
    30% {
        opacity: 1;
    }

    70% {
        opacity: 0;
        scale: 1;
    }
}

.txt1 {
    color: white;
    font-size: 40px;
    text-align: center;
}
/* Section 2:Experinced lawyer */
.header-body{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.content-sect{
    height: auto;
    width: 55%;
}
.title-head{
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}
.para{
    color: black;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    line-height: 30px;
    margin: 30px;

}

.mission-vision{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}
.mission-content{
    margin: 30px;
    margin-top: 4px;
}
.t-head{
    color: black;
    font-size: 27px;
    text-align: left;
}
.t-body{
    color: black;
    font-size: 23px;
    text-align: left;
}
/* .image-sec1{
    
} */
.image-sec{
    background-color: white;
    width: 45%;
    height: auto;
    position: relative;
   }
.im1{
    height: 40vh;
    width: 90vh;
    margin-bottom: 10px;
}
.image-sec2{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.im2{
    height: auto;
    width: 43vh;
}
.im3{
    height: 62vh;
    width: 43vh;
    margin-left: 15px;
}
.centerImg{
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
}


 /* section 3:Our Team */
 .scrollable-div {
    width: 50;
    height: 500px;
    overflow: auto; /* or overflow: scroll; */
    box-shadow: 10px 10px 10px rgba(136, 135, 135, 0.5);
    border: 1px solid #999797;
    padding: 10px;
    margin: 40px;
    /* background-color: black; */
}
.team-head{
    font-size:60px;
}
.member{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.member-img{
    width: 90px;
    height: 90px;
    margin: 20px;
    margin-top: 30px;
}
.mimage1{
    width: 250px;
    height: 300px;
}
.member-info{
    width: 77%;
    margin-top: 28px;
    margin-left: 23px;
}
.mtitle{
    font-size:40px;
    /* align-items: left; */
    font-weight: 200;
}
.mpara{
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
    line-height: 27px;
}