.BookingBackground{
    background-image: url('../src/assets/BookingBG.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BookingBackground h1{
    font-size: 4rem;
    color: #101010;
    margin-top: -100px;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.advisor-wrapper{
    padding: 20px;
    text-align: center;
}
.advisor-container{
    
}