.HomeBackground {
    background-image: url('../src/assets/hero-background.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: left;
    align-items: center;
}

.content {
    margin-left: 60px;
    margin-top: -130px;
    text-align: left;
}

.text h1 {
    font-weight: 400;
    font-size: 80px;
    color: #fff;
}
.grayButton {
    margin-top: 25px !important;
    font-size: 1.2rem !important;
    background-color: gray !important;
}

.gateway-wrapper{
    height: 55vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.gateway-wrapper h1{

    font-size: 3rem;
    margin: 0px 0px;
    margin-top: 80px;
}
.sep-line{
    height: 7px;
    border-radius: 50px;
    margin: 40px 0px;
    background-color: black;
    width: 20vw;
}
.gateway-wrapper-para{
    width: 40vw;
}
.gateway-wrapper-para p{
    font-size: 1.3rem;
    /* letter-spacing: 3px; */
    font-family: 'poppins';
}

.ourteam-wrapper{
    margin-top: 20px;
    /* height: 100vh; */
    background-color: #D9D9D9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourteam-wrapper h1{
    font-size: 3rem;
    margin: 0px 0px;
    margin-top: 40px;
}
.sep-line{
    height: 7px;
    border-radius: 50px;
    margin: 40px 0px;
    background-color: black;
    width: 20vw;
}
.ourteam-wrapper-para{
    width: 60vw;
}
.ourteam-wrapper-para p{
    margin: 30px 0px;
    font-family: 'poppins';
    font-size: 1.3rem;
}

.slick-prev:before,
.slick-next:before {
    display: none;
}

.mt-3{
    margin-top: 4rem;

}
.client-count{
    height: 40vh;
    background-color:rgb( 0 ,0, 0, 66% );
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 70px;
    font-size: 1.5rem;
}