.carousel-team-container {
    margin: 0 auto;
    width: 80%;
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.carousel-team-container h1 {
    font-size: 3rem;
    margin: 30px 0px;
}

.slider-team-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
}


.slide-team {
    height: 350px;
    color: #000000;
    border-radius: 20px;
}

.slide-image-team-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-team-image {
    height: 300px;
    width: 260px;
    object-fit: cover;
    border-radius: 5%;
}

.slick-list{
    height: 500px;
}

.slide-team-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

.slide-team-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.slide-team-review {
    text-align: center;
    margin-bottom: 10px;
}

.slick-arrow {
    display: none;
}
