.footer {
  background-color: black;
  color: white;
  padding: 40px 40px 20px 40px;
}

.footer-content {
  width: 100%;
}

.company-logo {
  width: 200px;
  height: auto;
}

.footer-content a {
  color: white;
  text-decoration: none;
}

.Footer-List {
  margin-left: 17px;
  padding: 5px;
}

.Footer-List:hover {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.Footer-List:hover p {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}