.footer {
    background-color: black;
    color: white; /* Text color */
    padding: 40px 40px 20px 40px;
  }
  
  .footer-content {
    width: 100%;
  }
  
  .company-logo {
    width: 200px; /* Adjust icon size as needed */
    height: auto;
  }
  
  .footer-content a {
    color: white; /* Link color */
    text-decoration: none;
  }
  .Footer-List{
    margin-left: 17px;
    padding: 5px;
  }

  .Footer-List:hover {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); /* Add text shadow on hover */
  }
  
  .Footer-List:hover p {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); /* Add text shadow on hover */
  }
  
  
  