.MuiTabs-flexContainer {
    width: 400px !important;
}

.tabContent {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: bolder;
    font-size: 0.9rem;
}

.tabContent span {
    transform: scaleX(-1);
}

.css-s7laog {
    background-color: #fff !important;
    color: black !important;
}

.css-s7laog.base--selected {
    background-color: #000 !important;
    color: white !important;
}


.css-m8soez {
    background-color: #fff !important;
    color: #000 !important;
}

.css-m8soez.base--selected {
    background-color: #000 !important;
    color: #fff !important;

}

/* _____________________________  */

.student-visa {
    margin-bottom: 20px;
    font-size: larger;
    text-align: center;
    position: relative;
}

.student-visa h1 {
    margin-top: 0;
    display: inline-block;
    position: relative;
}

.student-visa h1::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    /* width: calc(100% + 30px); */
    width: 80%;
    height: 1.5px;
    background-color: #000;
    transform: translateX(-50%);
}

/* )________________________  */
.VisaInfocContainer {
    display: flex;
}

.image-container {
    width: 50%;
}

.image-container img {
    border-radius: 12px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    align-items: start;
}

.info-box {
    padding: 10px;
    min-width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 400px;
    margin-bottom: 20px;
}

.info-box h3 {
    font-size: 1.2rem;
}

.info-box p {
    font-family: 'poppins';
    margin-top: 13px;
    font-size: 1.1rem;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.details {
    font-size: 1rem;
}

.detail {
    margin-bottom: 10px;
}

/* Responsive Layout */
@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .info-container {
        flex-grow: 1;
        margin-left: 20px;
    }
}