.VisaTypeBackground {
    background-image: url('../src/assets/VisaInfoBg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
}